.download-btn-container {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-label {
  background-color: transparent;
  border: 2px solid #c9a15a;
  display: flex;
  align-items: center;
  border-radius: 50px;
  width: 160px;
  cursor: pointer;
  transition: all 0.4s ease;
  padding: 5px;
  position: relative;
}

.download-label::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  width: 8px;
  height: 8px;
  transition: all 0.4s ease;
  border-radius: 100%;
  margin: auto;
  opacity: 0;
  visibility: hidden;
}

.download-input {
  display: none;
}

.download-title {
  font-size: 17px;
  color: #fff;
  transition: all 0.4s ease;
  position: absolute;
  right: 18px;
  bottom: 14px;
  text-align: center;
  margin: 0;
}

.download-title:last-child {
  opacity: 0;
  visibility: hidden;
}

.download-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #c9a15a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
  position: relative;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  overflow: hidden;
}

.download-icon {
  color: #fff;
  width: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.download-square {
  aspect-ratio: 1;
  width: 15px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.download-circle::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #9e7b3d;
  width: 100%;
  height: 0;
  transition: all 0.4s ease;
}

.download-label:has(.download-input:checked) {
  width: 57px;
  animation: download-installed 0.4s ease 3.5s forwards;
}

.download-label:has(.download-input:checked)::before {
  animation: download-rotate 3s ease-in-out 0.4s forwards;
}

.download-label:has(.download-input:checked) .download-circle {
  animation:
    download-pulse 1s forwards,
    download-circleDelete 0.2s ease 3.5s forwards;
  rotate: 180deg;
}

.download-label:has(.download-input:checked) .download-circle::before {
  animation: download-installing 3s ease-in-out forwards;
}

.download-label:has(.download-input:checked) .download-icon {
  opacity: 0;
  visibility: hidden;
}

.download-label:has(.download-input:checked) .download-square {
  opacity: 1;
  visibility: visible;
}

.download-label:has(.download-input:checked) .download-title:first-of-type {
  opacity: 0;
  visibility: hidden;
}

.download-label:has(.download-input:checked) .download-title:last-child {
  animation: download-showInstalledMessage 0.4s ease 3.5s forwards;
}

@keyframes download-pulse {
  0% {
    scale: 0.95;
    box-shadow: 0 0 0 0 rgba(201, 161, 90, 0.7);
  }
  70% {
    scale: 1;
    box-shadow: 0 0 0 16px rgba(201, 161, 90, 0);
  }
  100% {
    scale: 0.95;
    box-shadow: 0 0 0 0 rgba(201, 161, 90, 0);
  }
}

@keyframes download-installing {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}

@keyframes download-rotate {
  0% {
    transform: rotate(-90deg) translate(27px) rotate(0);
    opacity: 1;
    visibility: visible;
  }
  99% {
    transform: rotate(270deg) translate(27px) rotate(270deg);
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes download-installed {
  100% {
    width: 150px;
    border-color: #c9a15a;
  }
}

@keyframes download-circleDelete {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes download-showInstalledMessage {
  100% {
    opacity: 1;
    visibility: visible;
    right: 56px;
  }
}
